<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="app">

    <template>
        <el-row class="demo-avatar demo-basic">
            <el-col :span="12">
                <div class="demo-basic--circle">
                    <div class="block">
                        <el-avatar :size="50" :src="circleUrl"></el-avatar>
                    </div>
                </div>
            </el-col>
        </el-row>
    </template>

    <!--搜索表单-->
    <el-form :inline="true" :model="goods" class="demo-form-inline">


        <el-form-item label="搜素商品">
            <el-input v-model="goods.name" placeholder="商品名称"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>

    </el-form>

    <el-form :inline="true" :model="searchUser" class="demo-form-inline">


        <el-form-item label="搜素用户">
            <el-input v-model="searchUser.userName" placeholder="用户名称"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="submitSearchUser">查询</el-button>
        </el-form-item>

    </el-form>

    <el-form :inline="true" :model="searchShop" class="demo-form-inline">


        <el-form-item label="搜素店铺">
            <el-input v-model="searchShop.name" placeholder="店铺名称"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="submitSearchShop">查询</el-button>
        </el-form-item>

    </el-form>

    <el-button type="primary" plain @click="Manager">管理员入口</el-button>
    <el-button type="primary" plain @click="MyShop">我的店铺</el-button>

    <el-button type="primary" icon="el-icon-shopping-cart-full" @click="searchMyCart">购物车</el-button>
    <el-button type="primary" icon="el-icon-shopping-bag-1" @click="searchMyOrders">我的订单</el-button>


    <el-dialog
            title="举报商品"
            :visible.sync="dialogReport"
            width="30%"
    >

        <el-form ref="form" :model="report" label-width="80px">
            <el-form-item label="商品名称">
                {{report.goodsName}}
            </el-form-item>

            <el-form-item label="介绍">
                <el-input type="textarea" v-model="report.description"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="submitReport">提交</el-button>
                <el-button @click="dialogReport = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <el-dialog
            title="搜索详情"
            :visible.sync="dialogUser"
            width="30%">
        <template>
            <el-table
                    :data="user"
                    style="width: 100%"
                    :row-class-name="tableRowClassName"
                    @selection-change="handleSelectionChange"
            >
                <el-table-column
                        prop="headshot"
                        label="头像"
                        align="center"
                >
                    <template slot-scope="scope">
                        <img :src="scope.row.headshot" style="width: 30px;height: 30px">
                    </template>
                </el-table-column>
                <el-table-column
                        prop="userName"
                        label="用户"
                        align="center"
                >
                </el-table-column>
            </el-table>
        </template>
        <el-button type="primary" @click="dialogUser = false">确 定</el-button>
    </el-dialog>


    <el-dialog
            title="搜索详情"
            :visible.sync="dialogShop"
            width="30%">
        <template>
            <el-table
                    :data="shop"
                    style="width: 100%"
                    :row-class-name="tableRowClassName"
                    @selection-change="handleSelectionChange"
            >
                <el-table-column
                        prop=name"
                        label="店铺名"
                        align="center"
                >

                </el-table-column>

                <el-table-column
                        prop="sales"
                        label="销量"
                        align="center"
                >
                </el-table-column>

                <el-table-column
                        prop="description"
                        label="介绍"
                        align="center"
                >
                </el-table-column>
                <el-table-column
                        prop="fans"
                        label="粉丝数"
                        align="center"
                >
                </el-table-column>
                <el-table-column
                        align="center">
                    <template slot-scope="scope">
                        <el-row>
                            <el-button type="primary" @click="subscrible(scope.row)">关注</el-button>
                        </el-row>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <el-button type="primary" @click="dialogUser = false">确 定</el-button>
    </el-dialog>


    <el-dialog
            title="申请店铺"
            :visible.sync="dialogApply"
            width="30%">
        <el-form :model="apply" label-width="80px">
            <el-form-item label="店铺名称">
                <el-input v-model="apply.shopName"></el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer is-align-middle">
    <el-button type="primary" @click="applyShop">确 定</el-button>
  </span>
    </el-dialog>

    <el-dialog
            title="商品详情"
            :visible.sync="dialogConsultation"
            width="30%">
        <!--表格-->
        <template>
            <el-table
                    :data="consultation"
                    style="width: 100%"
                    :row-class-name="tableRowClassName"
                    @selection-change="handleSelectionChange"
            >
                <el-table-column
                        prop="userName"
                        label="用户"
                        align="center"
                >
                </el-table-column>
                <el-table-column
                        prop="consultation"
                        label="评论"
                        align="center"
                >
                </el-table-column>
                <el-table-column
                        align="center">
                    <template slot-scope="scope">
                        <el-row>
                            <el-button type="primary" @click="answer(scope.row)">回复</el-button>
                        </el-row>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <span slot="footer" class="dialog-footer is-align-middle">
    <el-button type="primary" @click="dialogConsultation = false">确 定</el-button>
    <el-button type="primary" @click="askP">商品好不好？问大家</el-button>
  </span>
    </el-dialog>

    <el-dialog
            title="商品详情"
            :visible.sync="dialogAsk"
            width="30%">
        <el-form :model="ask" label-width="80px">
            <el-form-item label="提问内容">
                <el-input type="textarea" v-model="ask.consultation"></el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="sendQuestion">确 定</el-button>
    </el-dialog>


    <el-dialog
            title="详情"
            :visible.sync="dialogReply"
            width="30%">
        <template>
            <el-table
                    :data="reply"
                    style="width: 100%"
                    :row-class-name="tableRowClassName"
                    @selection-change="handleSelectionChange"
            >
                <el-table-column
                        prop="userName"
                        label="用户"
                        align="center"
                >
                </el-table-column>
                <el-table-column
                        prop="reply"
                        label="回复"
                        align="center"
                >
                </el-table-column>
            </el-table>
        </template>

        <el-input type="textarea" v-model="myReply.reply"></el-input>
        <el-button type="primary" @click="sendReply">确 定</el-button>

        </span>
    </el-dialog>


    <el-dialog
            title="购买"
            :visible.sync="dialogVisible"
            width="30%"
    >

        <el-form ref="form" :model="orders" label-width="80px">
            <el-form-item label="商品名称" v-model="orders.name">
                {{orders.name}}
            </el-form-item>

            <img src="orders.picture" class="image">

            <el-form-item label="价格" v-model="orders.singlePrice">
                {{orders.singlePrice}}
            </el-form-item>

            <el-form-item label="数量">
                <template>
                    <div class="block">
                        <el-slider
                                v-model="orders.number"
                                show-input max="20">
                        </el-slider>
                    </div>
                </template>
            </el-form-item>
            <el-form-item label="总价">
                <div>{{orders.singlePrice * orders.number}}</div>

            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="buy">购买</el-button>
                <el-button type="primary" @click="addCart">加入购物车</el-button>

                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <el-dialog
            title="提示"
            :visible.sync="dialogSuccess"
            width="30%">
        <el-row>
            <el-col :sm="12" :lg="6" align="center">
                <el-result icon="success" title="操作成功" subTitle="请根据提示进行操作">
                </el-result>
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer is-align-middle">
    <el-button type="primary" @click="dialogSuccess = false">确 定</el-button>
  </span>
    </el-dialog>

    <el-dialog
            title="提示"
            :visible.sync="dialogError"
            width="30%">
        <el-row>
            <el-col :sm="12" :lg="6">
                <el-result icon="error" title="操作失败，可能是库存不足" subTitle="请根据提示进行操作">
                </el-result>
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="dialogError = false">确 定</el-button>
  </span>
    </el-dialog>

    <el-dialog
            title="提示"
            :visible.sync="dialogApplyError"
            width="30%">
        <el-row>
            <el-col :sm="12" :lg="6">
                <el-result icon="error" title="申请失败，请勿重复申请" subTitle="请根据提示进行操作">
                </el-result>
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="dialogApplyError = false">确 定</el-button>
  </span>
    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >

            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="name"
                    label="商品名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="价格"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="sales"
                    align="center"
                    label="销量">
            </el-table-column>

            <el-table-column
                    prop="inventory"
                    align="center"
                    label="库存">
            </el-table-column>

            <el-table-column
                    prop="shopName"
                    align="center"
                    label="店名">
            </el-table-column>

            <el-table-column
                    prop="description"
                    align="center"
                    label="介绍">
            </el-table-column>

            <el-table-column
                    prop="picture"
                    align="center"
                    label="图片">
                <template slot-scope="scope">
                    <img :src="scope.row.picture" style="width: 30px;height: 30px">
                </template>
            </el-table-column>


            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button type="primary" @click="searchConsultation(scope.row)">查看评论</el-button>
                        <el-button type="primary" @click="handleAdd(scope.row)">购买</el-button>
                        <el-button type="danger" @click="reportGoods(scope.row)">举报</el-button>
                    </el-row>
                </template>
            </el-table-column>

        </el-table>
    </template>

    <el-pagination
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            layout="total, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>


</div>


<script src="js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectAll();
        },
        methods: {
            submitReport(){
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/user/reportGoods",
                    data: _this.report
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.$message({
                            type: 'info',
                            message: '举报成功'
                        });
                    } else {
                        _this.$message({
                            type: 'info',
                            message: '举报失败。请勿重复举报'
                        });
                    }
                    _this.dialogReport = false;
                })
            },
            reportGoods(row) {
                this.report.goodsId = row.id;
                this.report.goodsName = row.name;
                this.dialogReport = true;
            },
            subscrible(row) {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/user/subscrible",
                    data: row
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.$message({
                            type: 'info',
                            message: '关注成功'
                        });
                    } else {
                        _this.$message({
                            type: 'info',
                            message: '你已经关注过啦'
                        });
                    }
                })
            },
            Manager() {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/manager/entrance",
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        window.open("Manager.html", "_self");
                    } else {
                        _this.$message({
                            type: 'info',
                            message: '你没有权限'
                        });
                    }
                })
            },
            submitSearchShop() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/shop/searchShop",
                    data: this.searchShop
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.shop = resp.data.data;
                        _this.dialogShop = true;
                    } else {
                        _this.$message({
                            type: 'info',
                            message: '查找失败'
                        });
                    }
                })
            },
            submitSearchUser() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/user/searchUser",
                    data: this.searchUser
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.user = resp.data.data;
                        _this.dialogUser = true;
                    } else {
                        _this.$message({
                            type: 'info',
                            message: '查找失败'
                        });
                    }
                })
            },
            sendReply() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/goods/sendReply",
                    data: this.myReply
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.$message({
                            type: 'info',
                            message: '发送成功'
                        });

                    } else {
                        _this.$message({
                            type: 'info',
                            message: '发送失败'
                        });
                    }
                })
            },
            answer(row) {
                this.myReply.consultationId = row.id;
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/goods/selectReply",
                    data: row
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.reply = resp.data.data;
                        _this.dialogReply = true;
                    } else {
                        _this.$message({
                            type: 'info',
                            message: '发送失败'
                        });
                    }
                })

            },
            sendQuestion() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/goods/sendConsultation",
                    data: this.ask
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        alert("success");
                    } else {
                        alert("fail");
                    }
                })
            },
            askP() {
                this.ask.goodsId = this.consultation.goodsId;
                this.dialogAsk = true;
            },
            searchConsultation(row) {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/goods/selectConsultation",
                    data: row.id
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.consultation = resp.data.data;
                        _this.consultation.goodsId = row.id;
                        _this.dialogConsultation = true;
                    }
                })
            },
            MyShop() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/user/myShop"
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        localStorage.setItem('shopId', resp.data.data);
                        window.open("MyShop.html", "_self")
                    } else {
                        _this.dialogApply = true;
                    }
                })
            },
            searchMyOrders() {
                if (localStorage.getItem('Authorization') != '') {
                    window.open("MyOrders.html", "_self");
                } else {
                    window.open("login.html", "_self");
                }
            },
            searchMyCart() {
                if (localStorage.getItem('Authorization') != '') {
                    window.open("MyCart.html", "_self");
                } else {
                    window.open("login.html", "_self");
                }
            },
            applyShop() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/user/apply",
                    data: _this.apply
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.dialogApply = false;
                        _this.dialogSuccess = true;
                    } else {
                        _this.dialogApply = false;
                        _this.dialogApplyError = true;
                    }
                })
            },

            handleAdd(row) {
                this.orders.goodsId = row.id;
                this.orders.name = row.name;
                this.orders.singlePrice = row.price;
                this.orders.picture = row.picture;
                this.orders.shopId = row.shopId;
                this.dialogVisible = true;
            },
            buy() {
                this.$confirm('请付款', '付款', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '下单中'

                    });
                    var _this = this;
                    axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                    axios({
                        method: "post",
                        url: "http://localhost:8080/ShoppingSystem/user/buy",
                        data: this.orders
                    }).then(function (resp) {
                        if (resp.data.code == 1) {
                            _this.dialogVisible = false;
                            _this.dialogSuccess = true;
                        } else {
                            _this.dialogVisible = false;
                            _this.dialogError = true;
                        }
                        _this.selectAll();
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消下单'
                    });
                });

            },
            addCart() {
                if (this.orders.number > 0) {
                    var _this = this;
                    axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                    axios({
                        method: "post",
                        url: "http://localhost:8080/ShoppingSystem/user/addCart",
                        data: this.orders
                    }).then(function (resp) {
                        if (resp.data.code == 1) {
                            _this.dialogVisible = false;
                            _this.dialogSuccess = true;
                        } else {
                            _this.dialogVisible = false;
                            _this.dialogError = true;
                        }
                    })
                }
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectAll();
            },

            onSubmit() {
                var _this = this;
                if (this.goods.name.length > 0) {
                    axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                    axios({
                        method: "post",
                        url: "http://localhost:8080/ShoppingSystem/goods/selectByName?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                        data: this.goods
                    }).then(function (resp) {
                        _this.tableData = resp.data.data;
                        _this.totalCount = resp.data.length;
                    })
                } else {
                    this.selectAll();
                }
            },
            selectAll() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/goods/selectAll?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.goods,
                }).then(function (resp) {
                    _this.tableData = resp.data.data;
                    _this.totalCount = resp.data.length;
                })

            },

        },
        data() {
            return {
                apply: {
                    shopName: '',
                    description: ''
                },
                searchName: '',
                dialogShop: false,
                dialogUser: false,
                dialogReply: false,
                dialogAsk: false,
                dialogConsultation: false,
                dialogApplyError: false,
                dialogApply: false,
                dialogVisible: false,
                dialogSuccess: false,
                dialogError: false,
                dialogReport: false,

                circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
                sizeList: ["large", "medium", "small"],

                pageSize: 20,
                // 当前页码
                currentPage: 1,

                totalCount: '',
                // 品牌模型数据

                report: {
                    goodsName: '',
                    goodsId: '',
                    userId: '',
                    description: ''
                },
                goods: {
                    id: '',
                    name: '',
                    price: '',
                    sales: '',
                    inventory: "",
                    picture: "",
                    description: "",
                    shopId: '',
                },
                orders: {
                    name: '',
                    number: '',
                    goodsId: '',
                    singlePrice: '',
                    price: '',
                    picture: '',
                    shopId: ''
                },
                tableData: [{
                    id: '',
                    name: '',
                    price: '',
                    sales: '',
                    inventory: "",
                    picture: "",
                    description: "",
                    shopName: '',
                    shopId: ''
                }],
                consultation: [{
                    id: '',
                    goodsId: '',
                    userName: '',
                    consultation: ''
                }],
                ask: {
                    goodsId: '',
                    consultation: '',
                },
                reply: [{
                    id: '',
                    consultationId: '',
                    reply: '',
                    userName: ''
                }],
                myReply: {
                    consultationId: '',
                    reply: ''
                },
                user: [{
                    userName: '',
                    headshot: ''
                }],
                searchUser: {
                    userName: ''
                },
                searchShop: {
                    name: ''
                },
                shop: [{
                    id: '',
                    name: '',
                    sales: '',
                    fans: '',
                    description: ''
                }]

            }
        }
    })

</script>


</body>
</html>