<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">

    <!--按钮-->
    <el-row>
        <el-button type="primary" plain @click="dialogVisible = true">新增商品</el-button>
        <el-button type="primary" plain @click="openDialogTweets">发送推文</el-button>
    </el-row>

    <el-dialog
            title="推送品牌"
            :visible.sync="dialogTweets"
            width="30%"
    >

        <el-form :model="tweets" label-width="80px">
            <el-form-item label="提问内容">
                <el-input type="textarea" v-model="tweets.tweets"></el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="sendTweets">确 定</el-button>

    </el-dialog>



    <el-row>


        <el-button type="primary" plain @click="selectNotSend">未发货订单</el-button>
        <el-button type="primary" plain @click="selectSended">已发货订单</el-button>
        <el-button type="primary" plain @click="refund">申请退款订单</el-button>

    </el-row>
    <!--添加数据对话框表单-->
    <el-dialog
            title="推送品牌"
            :visible.sync="dialogVisible"
            width="30%"
    >

        <el-form ref="form" :model="push" label-width="80px">
            <el-form-item label="商品名称">
                <el-input v-model="push.name"></el-input>
            </el-form-item>

            <el-form-item label="售价">
                <template>
                    <div class="block">
                        <el-slider
                                v-model="push.price"
                                show-input max="10000">
                        </el-slider>
                    </div>
                </template>
            </el-form-item>
            <el-form-item label="库存">
                <template>
                    <div class="block">
                        <el-slider
                                v-model="push.inventory"
                                show-input max="10000">
                        </el-slider>
                    </div>
                </template>
            </el-form-item>


            <el-form-item label="介绍">
                <el-input type="textarea" v-model="push.description"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addPush">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <el-dialog
            title="提示"
            :visible.sync="pushSuccess"
            width="30%">
        <el-row>
            <el-col :sm="12" :lg="6" align="center">
                <el-result icon="success" title="申请成功" subTitle="请根据提示进行操作">
                </el-result>
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer is-align-middle">
    <el-button type="primary" @click="pushSuccess = false">确 定</el-button>
  </span>
    </el-dialog>

    <el-dialog
            title="提示"
            :visible.sync="pushError"
            width="30%">
        <el-row>
            <el-col :sm="12" :lg="6">
                <el-result icon="error" title="申请失败，请勿重复申请" subTitle="请根据提示进行操作">
                </el-result>
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="pushError = false">确 定</el-button>
  </span>
    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="id"
                    label="订单号"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="goodsName"
                    label="商品名称"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="time"
                    label="交易时间"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="receiveAddress"
                    align="center"
                    label="收货地址">
            </el-table-column>

            <el-table-column
                    prop="userName"
                    align="center"
                    label="收货人">
            </el-table-column>

            <el-table-column
                    prop="status"
                    align="center"
                    label="货物状态">
            </el-table-column>


            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                        <el-button type="primary" @click="send(scope.row)">已发货</el-button>
                </template>
            </el-table-column>

        </el-table>
    </template>


    <el-pagination
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            layout="total, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>


<script src="js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectNotSend();
        },
        methods: {
            sendTweets(){
                var _this = this;
                this.$confirm('确认发送？', '发送推文', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {

                    axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                    axios({
                        method: "post",
                        url: "http://localhost:8080/ShoppingSystem/shop/sendTweets",
                        data: _this.tweets
                    }).then(function (resp) {
                        if (resp.data.code==1){
                            _this.$message({
                                type: 'success',
                                message: '修改成功'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '修改失败'
                    });
                });
            },
            openDialogTweets(){
              this.tweets.shopId = this.shopId;
              this.dialogTweets = true;
            },
            refund(){
              window.open("ApplyRefund.html","_self");
            },
            send(row) {
                var _this = this;
                    this.$confirm('确认已发货？', '已发货', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '修改成功'
                        });
                        axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                        axios({
                            method: "post",
                            url: "http://localhost:8080/ShoppingSystem/shop/send",
                            data: row
                        }).then(function (resp) {
                            _this.selectNotSend();
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '修改失败'
                        });
                    });

            },
            selectNotSend() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/shop/selectOrders?status=1&currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: "shopId=" + localStorage.getItem('shopId')
                }).then(function (resp) {
                    _this.tableData = resp.data.data;
                    _this.totalCount = resp.data.length;
                })

            },
            selectSended() {
                var _this = this;
                axios.defaults.headers.common['Authorization'] = localStorage.getItem('Authorization');
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/shop/selectOrders?status=2&currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: "shopId=" + localStorage.getItem('shopId')
                }).then(function (resp) {
                    _this.tableData = resp.data.data;
                    _this.totalCount = resp.data.length;
                })
            },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },
            // 添加数据
            addPush() {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingSystem/shop/addPush",
                    data: _this.push
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        _this.dialogVisible = false;
                        _this.pushSuccess = true;
                    } else {
                        _this.dialogVisible = false;
                        _this.pushError = true;
                    }
                })
            },

            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.selectAll();
            },


        },
        data() {
            return {
                shopId: localStorage.getItem("shopId"),
                pageSize: 20,
                // 当前页码
                currentPage: 1,
                dialogTweets:false,

                totalCount: '',
                dialogVisible: false,
                pushSuccess: false,
                pushError: false,

                push: {
                    shopId: localStorage.getItem("shopId"),
                    name: '',
                    price: '',
                    description: '',
                    picture: '',
                    inventory:''
                },
                orders: {
                    id: '',
                    time: '',
                    receiveAddress: '',
                    goods: '',
                    userName: '',
                    number: '',
                    status: ''
                },
                tweets:{
                    tweets: "",
                    shopId:''
                },
                //被选中的id数组
                selectedIds: [],
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    id: '',
                    time: '',
                    receiveAddress: '',
                    goodsName: '',
                    userName: '',
                    number: '',
                    status: ''

                }]
            }
        }
    })

</script>

</body>

</html>