<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }

        .loginForm{
            border-radius: 10px;
            margin: 0px auto;
            width: 350px;
            padding: 30px 35px 15px 35px;
            background: #fff;
            border: 1px solid #eaeaea;
            text-align: left;
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
        }

        .title {
            margin: 0px auto 40px auto;
            text-align: center;
            color: #505458
        }
    </style>
</head>
<body>
<script src="js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>

<div id="app">
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="70px" class="loginForm" enctype="multipart/form-data">
        <h1 class="title">注册</h1>
        <el-form-item label="用户名" prop="userName">
            <el-input v-model="ruleForm.userName"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password" align="center">
            <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPassword" align="center">
            <el-input type="password" v-model="ruleForm.checkPassword" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="phone" align="center">
            <el-input type="text" v-model="ruleForm.phone" autocomplete="off"></el-input>
        </el-form-item>


        <el-form-item label="地址" prop="address" align="center">
            <el-input type="text" v-model="ruleForm.address" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="个人信息" prop="isPrivate" align="center">
            <el-switch v-model="ruleForm.isPrivate" active-text="私密" :active-value="1" inactive-text="公开" :inactive-value="0"></el-switch>
        </el-form-item>

        <el-form-item label="验证码" prop="checkCode" align="center">
            <el-row>
            <el-input type="text" v-model="ruleForm.checkCode" autocomplete="off" ></el-input>
            <img src="" id="checkCodePicture" @click="changeVerifyCode" width="100px" height="50px">
            </el-row>
        </el-form-item>


        <el-upload
                class="avatar-uploader"
                action="http://localhost:8080/ShoppingSystem/manager/test"
                :show-file-list="false"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload">
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>

        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</div>
<script>

    new Vue ({
        el:"#app",
        data() {
            var checkName = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('用户名不能为空'));
                }
                if(value.length>20){
                    return callback(new Error('用户名长度不能超过20个字符'));
                }
                setTimeout(() => {
                    callback();
                }, 1000);
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPassword !== '') {
                        this.$refs.ruleForm.validateField('checkPassword');
                    }
                    if(value.length>20){
                        callback(new Error('密码长度不能超过20个字符'));
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.password) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            var checkPhone = (rule, value, callback) => {
                let reg = /^[0-9]{11}$/;
                if(reg.test(value)){
                    callback();
                }else {
                    callback(new Error('请输入正确的手机号'));
                }
            };
            var checkAddress = (rule, value, callback) => {
                if(value.length >= 50){
                    callback(new Error('地址长度不能超过五十个字符'));
                }else {
                    callback();
                }
            };
            var checkPicture = (rule, value, callback) => {
                if(!value.endsWith('.png') && !value.endsWith('jpg')){
                    callback(new Error('请上传图片'));
                }else {
                    callback();
                }
            };
            return {
                imageUrl: '',
                ruleForm: {
                    checkCodePic:'',
                    checkCode:'',
                    password: '',
                    checkPassword: '',
                    userName: '',
                    phone:'',
                    address:'',
                    isPrivate:'',
                },
                rules: {
                    password: [
                        {validator: validatePass, trigger: 'blur'}
                    ],
                    checkPassword: [
                        {validator: validatePass2, trigger: 'blur'}
                    ],
                    userName: [
                        {validator: checkName, trigger: 'blur'}
                    ],
                    phone: [
                        {validator: checkPhone, trigger: 'blur'}
                    ],
                    address: [
                        {validator: checkAddress, trigger: 'blur'}
                    ]
                }
            };
        },
        methods:{
            changeVerifyCode(){
                document.getElementById("checkCodePicture").src = "http://localhost:8080/ShoppingSystem/user/getCode?"+new Date().getMilliseconds();
            },
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
                var _this = this;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    var _this = this;
                    if (valid) {
                        axios.post("http://localhost:8080/ShoppingSystem/manager/test",this.ruleForm).then(function (resp){
                            if(resp.data.code==1){
                                _this.$alert('你已注册成功，快去登录吧！', '注册成功', {
                                    confirmButtonText: '确定'
                                });
                            }else{
                                _this.$alert(resp.data.msg, '注册失败', {
                                    confirmButtonText: '确定',
                                    callback: action => {
                                        this.$resp.data.data({
                                            type: 'info',
                                            message: `action: ${ action }`
                                        });
                                    }
                                });
                            }
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    })
</script>
</body>
</html>